.main-container {
  overflow: hidden;
  height: 76vh; 
  background-color: white;
  border-radius: 0px 0px 25px 25px;
}
.h-50{
  height: 50%;
  overflow-y: auto;
}
.full-height{
  max-height:100%; max-width:100%;
  object-fit: fill;
}
.is-black{
  background-color: black;
  color: white;
}
.is-centered{
  display: flex;
  justify-content: center;
  align-content: center;
}

.bordered-top{
  border-top: white;
  border-top-style: dotted;
}

.section-capitular{
  font-family: helvetica;
}
.section-capitular h1{
  font-size: larger;
}
.section-capitular h2{
  font-size: medium;
}
.section-corrido{
  font-family: monospace;
  padding: 10px;
}

.bloco-escolha p {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 1.5vh;
  padding: 0.5vh;
  cursor: pointer;
}

.bloco-escolha p:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}