<!DOCTYPE html>
<html>
	<head>
		<title>Kudamono-san</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	</head>
	<body>
		<div id="app">
			<section class="hero is-success is-fullheight">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="column is-4 is-offset-4">
							<div class="main-container">
								<div class="h-50 is-black is-centered">
									<figure>
										<img class="full-height" src="https://wallpaperaccess.com/full/797185.png">
									</figure>
								</div>
								<div id="#panel" class="h-50 is-black bordered-top">
									<div v-for="(bloco, index) in content">
										<div v-if="index==0" class="section section-capitular">
											<h1>{{bloco.titulo}}</h1>
											<h2>{{bloco.subtitulo}}</h2>
										</div>
	
										<div v-else class="has-text-left section-corrido">
											<div class="bloco-fala">
												<p class="has-text-weight-bold">{{bloco.autor}}</p>
												<div v-for="row in bloco.fala.split('\n')">
													<p>{{row}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>

		<script src="uTests/check.js"></script>
		<script src="uTests/ublocos.js"></script>

		<script src="js/main.js"></script>
	</body>
</html>